body{
    background-image: url("images/test2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: none;
}

#zunanji{
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    font-style: italic;
    color:rgb(255, 243, 82);
}

#main{
    padding-top: 2%;
}


#mycanvas{
    padding-left: 0;
    padding-right: 0;
    background-image: url("images/image.jpg");
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#nagrada{
    text-align: center;
    transform: translateY(-58px) rotate(10deg);
}

#maze_container{
    position: absolute;
    background-color: aqua;
    color: black;
    width: auto;
    height: auto;
}

button{
    margin-left: 50%;
    transform: translateX(-50%);

}